body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
}

.logo-qm {
    height: 58px;
    padding: 0 33px;
}

.page-title {
    font-size: 2rem;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

.navbar {
    border-bottom: 1px solid rgba(150, 150, 150, 0.3);
    box-shadow: 0 12px 10px -14px #111;
}

.navbar-brand-qm span {
    font-size: 1.8rem;
    color: black;
}
.navbar-brand-qm:hover { text-decoration:none; }

footer {
    background: #18171b;
}

.error {
    color: #b12f2fa6;
    text-align: left;
}

.error label { margin-top: 15px; }


.spinner-load { width: 250px; }
.spinner-load .img-loading { width: 250px; }

.loader-small {
    margin-left: 30px;
    width: 45px;
    display: none;
}
/**********************/
.search-page {
    position: relative;
}

.search-box {
    max-width: 560px;
}

.home-mode {
    margin-top: 100px;
}

.search-container.home-mode {
    display: flex;
    justify-content: center;
}


.search-box .search-input {
    width: 400px;
    text-indent: 27px;
    height: 41px;
}
.search-body .search-box { margin-top: 20px; }


.home-mode .page-title { font-size: 2.5rem; }
.home-mode .search-body { text-align: center; }
.home-mode .search-body .search-box { margin-top: 40px; }

.search-box .search-icon {
    position: absolute;
    z-index: 9;
    font-size: 22px;
    line-height:41px ;
    left: 10px;
    top: 0;
    color: rgba(150, 150, 150, 0.6);
}

#reset-search {
    position: absolute;
    z-index: 9;
    font-size: 26px;
    line-height: 40px;
    right: 86px;
    top: 0;
    color: rgba(150, 150, 150, 0.6);
}

button.btn-no-outline:focus {
    outline: none;
}

.search-box button[type=submit] {
    height: 41px;
}


.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #6c757d;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.2);
}

@media screen and (max-width: 1060px) {
    .search-filter-box {
        display: none;
    }
}

.search-filter-box {
    display: flex;
    text-align: left;
}

.search-filter-box .accordion {
    width: 214px;
}

.search-filter-box .card {
    border: none;
}


/*.search-filter-box .accordion .card:first-of-type {*/
/*    border: 1px solid rgba(0,0,0,.125);*/
/*}*/

/*.search-filter-box .card-header:first-child { border-radius: 0; }*/
.search-filter-box .card-header { border-radius: 0; border: none; }

.search-filter-box .card-header {
    height: 40px;
    padding: 0;
    background: none;
}

.card-header .fas {
    transition: .4s transform ease-in-out;
    margin-left: 7px;
}
.card-header .collapsed .fas {
    transform: rotate(180deg);
}


.search-filter-box .card-header .btn-link {
    color: #727070;
    text-decoration: none;
}

.search-filter-box .card-body {
    border: 1px solid rgba(0,0,0,.125);
    overflow-y: auto;
    height: 168px;
    font-size: 0.9rem;
}

.search-filter-box .form-check-input {
    background: #868e96;
}
.search-filter-box .form-check-input:checked {
background: #868e96;
}