@import './variables';
@import '~bootstrap/scss/bootstrap';

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
main {
    flex: 1;
}

.btn {
    background: unset;
    color: unset;
    border-color: unset;
}


.logo-qm {
    height: 58px;
    padding: 0 33px;
}

.page-title {
    font-size: 2rem;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

.navbar {
    border-bottom: 1px solid rgba(150, 150, 150, 0.3);
    box-shadow: 0 12px 10px -14px #111;
}

.navbar-brand-qm span {
    font-size: 1.8rem;
    color: black;
}
.navbar-brand-qm:hover { text-decoration:none; }

footer {
    background: #18171b;
}

// Darken buttons
@each $color, $value in $theme-colors {
    .btn-#{$color} {
        @include button-variant($value, $value, darken($value, 10%));
    }
}

/**********************/


.search-box {
    max-width: 560px;
}

.home-mode {
    margin-top: 100px;
}

.search-container.home-mode {
    display: flex;
    justify-content: center;
}


.search-box .search-input {
    width: 400px;
    text-indent: 27px;
    height: 41px;
}
.search-body .search-box { margin-top: 20px; }


.home-mode .page-title { font-size: 2.5rem; }
.home-mode .search-body { text-align: center; }
.home-mode .search-body .search-box { margin-top: 40px; }

.search-box .search-icon {
    position: absolute;
    z-index: 9;
    font-size: 22px;
    line-height:41px ;
    left: 10px;
    top: 0;
    color: rgba(150, 150, 150, 0.6);
}

#reset-search {
    position: absolute;
    z-index: 9;
    font-size: 26px;
    line-height: 40px;
    right: 86px;
    top: 0;
    color: rgba(150, 150, 150, 0.6);
}

.search-box button[type=submit] {
    height: 41px;
}


.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #6c757d;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.2);
}