<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between align-content-center">

    <a href="/search" class="navbar-brand-qm">
        <img class="logo-qm" src="/images/logo-qm.png" alt="">
        <span>Qm Search</span>
    </a>

    <button type="button" class="btn btn-secondary">Launch search indexation</button>
</nav>